@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Tsukimi+Rounded&display=swap');
:root {
  font-family: var(--main-font);
  font-size: 16px;
}
body {
background-color: white;	
}
/* Navbar styles */
.navbar {
  
  position: fixed;
  top: 0;
  background: linear-gradient(to top right, #99ccff 46%, #33cccc 93%);
  border-bottom: solid 1px rgb(93, 93, 93);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  width: 100%;
  z-index: 1000; 
  transition: background-color 0.3s ease; 
}

.navbar.scrolled {
  background-color: #d9d9d9); 
}

.navbar-title {
  font-family: 'Tsukimi Rounded', sans-serif;
  font-size: 1.4rem;
  color: black;
}

.navbar-links {
  list-style: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}


.navbar-links li a {
 
  
  font-family: var(--main-font);
  font-size: 1rem;
  color: black;
  text-decoration: none;
  padding: 2rem;
}

.navbar-links li a:hover {
  color: black;
  background: linear-gradient(to top right, #99ccff 46%, #33cccc 93%);
}

/* Section styles */
.section {
  height: 65vh;
}

#home {
  background: var(--primary-color);
}

#about {
    background: linear-gradient(to top right, #cc99ff 0%, #ccffff 91%);
	position: center;
	height: 500px;
	width: 600px;
	border-radius: 5px;
	text-align: center;
	margin-top: 2rem;
 
  
  
}

#contact {
  position: center;
  background: linear-gradient(to top right, #99ccff 46%, #33cccc 93%);
  height: 40vh;
  width: 100vh;
  border-radius: 5px;
  text-align: center;
  margin-top: 20rem;
  
  

}


/* Bio container styles */
.bio-container {
  width: 50%;
  height: 800px;
  background: linear-gradient(to top right, #99ccff 46%, #33cccc 93%);
  border-radius: 5px;
  padding: 0rem;
  margin-top: 10rem;
  margin-left: 25rem;
  margin-right: 0px;
  display: flex;
  align-items: center;
}

.profile-picture {
  width: auto;
  border-radius: 50px;
  margin-left: 20px;
  padding-top: 0px;
  padding-bottom: 100px;
}

.bio-content {
  width: 57%;
  padding-left: 2rem;
}
.bio-content h3 {
  font-size: 1.25rem;
  line-height: 1rem;


}

.bio-content h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.bio-content p.light {
  color: black;
  font-size: 1.25rem;
  line-height: 1.4em;
}

.details {
  margin-bottom: 1rem;
}

.detail-row {
  margin-bottom: 0.5rem;
}

.detail-row span.bold {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1rem;
}

.detail-row span.regular {
  font-size: 1.25rem;
  line-height: 1.4em;
}

.details ul {
  list-style-type: none;
  padding-left: 1rem;
}

.details ul li {
  position: relative;
  font-size: 1.25rem;
  line-height: 1.4em;
  padding-left: 1.75rem;
}

.details ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.2rem;
  width: .75rem;
  height: .75rem;
  background-color: black;
  border-radius: 3px;
}

.skills-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.skills-list {
  font-size: 1.25rem;
  line-height: 1.4em;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.skills-list ul {
  list-style-type: disc;
  margin-left: 1rem;
  padding-left: 1rem;
}

.skills-list ul li {
  font-size: 1.25rem;
  line-height: 1.4em;
}

.skill-item {
  margin-bottom: 0.5rem;
}

.light a.media-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: 178px 72px;
  background-repeat: no-repeat;
}

.light a#facebook {
  background-position: 0px 0px;
}

.light a#github {
  background-position: -37px 0px;
}

.light a#linkedin {
  background-position: -72px 0px;
}

.light a#twitter {
  background-position: -108px 0px;
}

.light a#youtube {
  background-position: -142px 0px;
}





